{% extends 'base.html' %}
{% block content %}
<h1 class="center">Date Details</h1>
<div class="container">
	<div class="date-grid">
		<h4>Activity</h4>
		<p>{{ date.activity }}</p>
		<h4>Budget</h4>
		<p>{{ date.budget }}</p>
		<h4>Rating</h4>
		<p>{{ date.rating }}</p>
		<h4>Notes</h4>
		<p>{{ date.notes }}</p>
		<h4>Date</h4>
		<p>{{ date.date }}</p>
		<h4>Partner</h4>
		<p>{{ date.partner.name }}</p>
		<h4>Location</h4>
		<p>{{ date.location.name }}</p>
		<a class="justify-self" href="{% url 'date_update' date.id %}"><button type="submit" class="btn">Edit</button></a>
		<a class="justify-self" href="{% url 'date_delete' date.id %}"><button type="submit" class="btn">Delete</button></a>
	</div>
</div>

{% endblock %}