{% extends 'base.html' %}
{% block content%}
<h1 class="center">Delete Partner</h1>
<div class="container">
  <div class="delete-grid">
    <h4 class="s2">Are you sure you want to delete {{ object.name }}?</h4>
    <form class="s2 flex-row" action="" method="POST">
      {% csrf_token %}
      <input type="submit" class="btn delete-btn" value="Delete">
      <a href="{% url 'partner_detail' partner.id%}"><button type="submit" class="btn">Cancel</button></a>
    </form>
  </div>
</div>

{% endblock %}