{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoveStruck</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{% url 'location_index' %}">View All Date Spots</a></li>
        <li><a href="{% url 'location_create' %}">Add a Date Spot</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="{% url 'partner_index' %}">View All Partners</a></li>
        <li><a href="{% url 'partner_create' %}">Add a Partner</a></li>
    </ul>
    <nav>
        {% if user.is_authenticated %}
        <div class="nav-wrapper">
            <a class="left" href="{% url 'home' %}">LoveStruck</a>
            <a class="right" href="{% url 'date_index' %}">View All Dates</a>
            <div class="right">
                <ul>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Locations</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Partners</a></li>
                </ul>
                <a href="{% url 'logout' %}">Log Out</a>
            </div>
        </div>
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>

<script>
     document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, alignment='right');
        });
</script>
</body>
</html>