main {
  padding: 0 2%;
}
/* navbar */
.btn > a {
  color: white;
}

select {
  display: initial;
}

nav {
  padding: 0 2%;
}

.dropdown-content {
  width: 175px !important;
}

.padding {
  padding: 0 15px;
}

.padding:hover, .dropdown-trigger:hover {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.logged-out-flex-nav {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  align-items: center;
}

.logged-out-flex-nav > a {
  padding: 0 15px;
}

.logged-out-flex-nav > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
